.color-picker {
  display: flex;
  flex-direction: column;
}

.color-row {
  display: flex;
  flex-direction: row;
  min-height: 32px;
}
.color-square {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
}
