<div class="screen-container">
  <form [formGroup]="loginForm" novalidate class="form-reset">
    <div class="workshop-row mb-24">
      <div class="info-col mat-h3">
        Text input using Angulars standard validators
      </div>
      <div class="control-col">
        <div class="control-container">
          <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Enter name"
              data-test="login-name-input"
              autocomplete="off"
              autocapitalize="off"
            />
            <mat-error
              validationError
              [control]="getControl.name"
              [testSelector]="'login-name-input'"
            >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="values-col">
        <div class="errors-object">
          <pre>errors: {{ getControl.name?.errors | json }}</pre>
        </div>
      </div>
    </div>
    <mat-divider inset="false"></mat-divider>
    <div class="workshop-row mt-24">
      <div class="info-col mat-h3">
        Text input also using a custom validator
      </div>
      <div class="control">
        <div class="control-container">
          <mat-form-field floatLabel="always">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Enter email address"
              data-test="login-email-input"
              autocomplete="off"
              autocapitalize="off"
            />
            <mat-error
              validationError
              [control]="getControl.email"
              [testSelector]="'login-email-input'"
            >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="values-col">
        <div class="errors-object">
          <pre>errors: {{ getControl.email?.errors | json }}</pre>
        </div>
      </div>
    </div>
    <!--     <div class="workshop-row mb-24">
      <div class="info-col mat-h3"></div>
      <div class="control">
        <div class="control-container">
          <button mat-flat-button color="primary">submit</button>
        </div>
      </div>
      <div class="values-col"></div>
    </div> -->
  </form>
</div>
