<div class="screen-container">
  <form [formGroup]="loginForm" novalidate class="form-reset">
    <div class="control-row">
      <div class="control-container">
        <mat-form-field floatLabel="always">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Enter name"
            data-test="login-name-input"
            autocomplete="off"
            autocapitalize="off"
          />
          <mat-error>hello there</mat-error>
        </mat-form-field>
      </div>
      <div class="control-display-errors">
        <pre>errors: {{ getControl.name?.errors | json }}</pre>
      </div>
    </div>
    <div class="control-row">
      <div class="control-container mt-24">
        <mat-form-field floatLabel="always">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Enter email address"
            data-test="login-email-input"
            autocomplete="off"
            autocapitalize="off"
          />
          <mat-error>hello there</mat-error>
        </mat-form-field>
      </div>
      <div class="control-display-errors">
        <pre>errors: {{ getControl.email?.errors | json }}</pre>
      </div>
    </div>
    <div class="control-row">
      <div class="control-container mt-24">
        <button mat-flat-button color="primary">submit</button>
      </div>
      <div class="control-display-errors">
        <pre>valid?: {{ loginForm.valid | json }}</pre>
        <pre>invalid?: {{ loginForm.invalid | json }}</pre>
        <pre>pristine?: {{ loginForm.pristine | json }}</pre>
      </div>
    </div>
  </form>

  <div></div>

  <div></div>
</div>
