<div fxFlex class="container">
  <div fxFlex fxLayout="row" fxLayoutGap="24px" class="board">
    <div *ngFor="let link of chain" fxFlex fxLayout="column" class="swimlane">
      <h3>{{ link.title }}</h3>
      <div
        cdkDropList
        #step="cdkDropList"
        [cdkDropListData]="link.data"
        [cdkDropListConnectedTo]="supplyChainSteps"
        (cdkDropListDropped)="dropped($event)"
        class="list"
        fxFlex
        fxLayout="column"
        fxLayoutGap="24px"
      >
        <mat-card *ngFor="let item of link.data" cdkDrag>
          <mat-card-title>{{ item }}</mat-card-title>
          <mat-card-subtitle>Hello world</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</div>
