.mat-chip.red {
  background-color: $red !important;
}

.mat-chip.orange {
  background-color: $orange !important;
}

.mat-chip.green {
  background-color: $green !important;
}

.mat-chip.blue {
  background-color: $blue !important;
}
