@import "material-theme";
@import "spacing";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

div.header-container {
  height: 64px;
}

form.form-reset {
  margin: 0;
  padding: 32px 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1440px;
}

div.screen-container {
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.control-container {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  & mat-form-field {
    width: 100%;
  }
}

div.values-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.errors-object {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 300px;
}

button.mat-flat-button.mat-primary {
  max-height: 48px;
  min-width: 300px;
}

div.workshop-row {
  display: flex;
  padding: 16px 8px;
  gap: 24px;
  & div.info-col,
  div.values-col {
    flex: 1;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 900px) {
  div.workshop-row {
    flex-direction: column;
  }
  div.values-col {
    align-items: flex-start;
  }
}

pre {
  margin: 0;
}

a.workshop-primary {
  color: orange;
  font-weight: 700;
  text-decoration: none;
  &:visited {
    color: orange;
  }
}
