<div class="screen-container">
  <div class="workshop-row">
    <div class="info-col">
      <span class="mat-display-1">{{
        "page-not-found.header" | translate
      }}</span>
      <p
        [innerHTML]="
          'page-not-found.description' | translate: { address: address || '' }
        "
      ></p>
      <p [innerHTML]="'page-not-found.hint' | translate"></p>
      <br />
      <a [routerLink]="'/' + ROUTING_PATH.HOME" class="workshop-primary">
        <div class="link-container">
          <div class="icon-container">
            <mat-icon inline="true">chevron_left</mat-icon>
          </div>
          <div>{{ "common.back-to-home" | translate }}</div>
        </div>
      </a>
    </div>
  </div>
</div>
