<div class="left-drawer-container">
  <div class="drawer-header">
    <div>I AM LEFT DRAWER</div>
    <div class="left-drawer-trigger">
      <button mat-icon-button (click)="toggleLeftDrawer()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="drawer-content mt-24">
    <button mat-flat-button (click)="handleOpenInfo()">OPEN INFO DIALOG</button>
    <button mat-flat-button (click)="handleOpenActivity()" class="mt-24">
      TRIGGER ACTIVITY
    </button>
  </div>
</div>
